      /*
     /   /    __/ _   __   ___ _   _  ___________ _ _ _
 ___/__ /__  / /  /  /_/  /__  \  /  /__
   /   /    /_/  /  /_______/   \/  ___/  info[at]flowin[dot]space
__/___/_________________________/
 /  */


* {
  transform-origin: 50% 50%;
}
body {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.container.contact span {
  display: inline-block;
  font-weight: 300;
  padding: 4px;
}

a.navPanelToggle span.fa-bars::before {
  height: 40px;
  width: 40px;
  background: rgba(230, 230, 230, .5);
  color: #666;
  padding: 0px;
  border-radius: 20px;
  border: solid 2px rgba(0, 0, 0, .1);
  /* position: fixed; */
}

#copyleft {
  transform-origin: 50% 47.5%;
  transform: rotate(180deg)
}

#stars {
  background: url('images/starsTile.png');
  background-repeat: repeat;
  background-size: 25%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#showMore {
  text-decoration: none;
  color: #222;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100px);
  margin: 0;
  padding: 10px;
  z-index: 100000;
}

@media screen and (max-width: 740px) {
   #showMore {
     visibility: hidden;
   }
}

#mainButton {
  padding: 0 14px;
  margin-top: 20px;

  transition: all .3s;
}

@media screen and (min-width: 740px) {
  #mainButton {
    position: absolute;
    right: 0;
    border-radius: 4px 0 0 4px;
    bottom: 20px;
    transition: all .3s;
  }
}

#about {
  margin-top: 60px;
  z-index: 10;
  background: white;
}

#about header.major {
  text-align: right;
}

header > p {
  text-transform: none;
}

section#projects > div.container {
  text-align: center;
}

.feature-grid {
  /* transform: translateX(5%); */
  width: 100%;
}

.feature {
  padding-bottom: 20px;
  margin: 20px;
}
.feature-grid .feature {
  width: 43%;
  float: none;
  display: inline-table;
}
.feature h4 {
  /* line-height: .5em; */
  max-height: 100px;
}
.feature h4 + p {
  margin-bottom: .5em;
}
.feature .button {
  transform: translateY(4px);
}
.feature p {
  line-height: 1.6em;
  margin-bottom: 0;
}

.feature-grid .feature .image {
  min-height: 120px;
  min-width: 120px;
}



@media screen and (max-width: 620px) {
  footer div.contact a {
    font-size: 70%;
  }
  .button.small {
    padding: 0 8px;
  }
}
@media screen and (max-width: 400px) {
  footer div.contact a {
    font-size: 50%;
  }
}

/* ====== PORTFOLIO */
.portfolioButton {
  cursor: pointer;
}
.\33 u,
.\33 u\24 {
  width: 33%;
}

.portfolioButton > span.image > img {
  height: 200px;
  object-fit: contain;
  background: #fff;
}

.portfolioButton > span > .hoverTitle {
  position: absolute;
  /* top: 50%; */
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(235, 235, 235, 0.9);
  /* background: rgba(0, 0, 0, 0.5); */
  /* width: 140px; */
  /* height: 140px; */
  width: 100%;
  height: 50px;
  /* border-radius: 100%; */
  vertical-align: middle;
  padding: 10px 0;
  font-size: 20px;
  /* color: #fff; */
  /* height: 100%; */
  transition: all .4s;
  color: #000;
  margin: 0;
}

.portfolioButton:focus > span > .hoverTitle,
.portfolioButton:hover > span > .hoverTitle {
  height: 100%;
  /* border-radius: 0; */
  /* bottom: 0; */
  /* top: 0; */
  /* width: 100%; */
  /* color: #fff; */
  padding: 88px 0;
  /* background: rgba(255, 255, 255, 0.4); */
  /* background: rgba(0, 0, 0, 0.5); */
}

@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 0;
    /* padding: 0 16px; */
  }

  #about {
    padding: 50px;
    /* color: red; */
  }

  .\33 u,
  .\33 u\24 {
    width: 40%;
  }
  .portfolioButton {
    margin-left: 6.7%;
  }

  .feature-grid .feature {
    /* width: 80%; */
    width: 100%;
    margin: 10px 0;
    padding: 40px 20px;
  }
  #other_projects > div > header {
    padding: 40px 20px 20px 20px;
  }
  .feature-grid>.feature:nth-child(even) {
    background: hsl(0, 0%, 95%);
    /* background: #eee; */
  }
}

@media screen and (max-width: 500px) {
  .\33 u,
  .\33 u\24 {
    width: 80%;
  }
  .portfolioButton {
    /* margin: 10px 5%;  */
    margin: 0; 
    /* width: 90%; */
    width: 100%;
    background: hsl(0, 0%, 98%);
    /* box-shadow: 0 0 30px; */
  }
  .feature-grid .feature .image img {
    max-height: 180px;
  }
}

.talklist.past > li > a {
  color: #444;
}

#footer {
  width: 100%;
  position: absolute;
  /* transform: translateX(-5%); */
}
footer div.contact a {
  padding: 4px 18px;
}
